<nav class="flex justify-between items-center p-6 bg-gray-100">
    <h1 class="text-5xl font-serif text-green-800" style="font-family: 'Playfair Display', serif; font-weight: 700;">
      <a href="{% url 'index' %}">Atlanta Food Finder</a>
    </h1>
    <ul class="flex space-x-6">
      <li><a href="{% url 'favorites' %}" class="text-lg font-semibold text-gray-700 hover:text-green-700">Favorites</a></li>
      {% if user.is_authenticated %}
        <li>
          <a href="{% url 'logout' %}" class="text-lg font-semibold text-gray-700 hover:text-green-700 shadow-lg hover:shadow-xl transition-shadow duration-300 border-b-2 border-black pb-1">Logout</a>
        </li>
      {% else %}
      <li>
        <a href="{% url 'login' %}" class="text-lg font-semibold text-gray-700 hover:text-green-700 shadow-lg hover:shadow-xl transition-shadow duration-300 border-b-2 border-black pb-1">Login</a>
      </li>
      {% endif %}
    </ul>
</nav>